<h1 align="center", style="color:midnightblue">About Blocipedia</h1>
<h3 align="center", style="color:lightslategray">Created by Chris Palmer</h3>
<h1 align="center">
  <%= link_to "http://github.com/froZenBadger", class: "btn btn-default", target: :_blank do %>
      <i class="icon ion-social-github larger"></i>
  <% end %>
</h1>
