<h1>Edit Wiki</h1>
<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Wikis</p>
    <ul>
      <li>Remember the main goal of each wiki is to add value</li>
      <li>Be honest.</li>
      <li>Have fun.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render 'form' %>
  </div>
  <%= link_to 'Back', @wiki %>
</div>
